body {
  /*background: #1d1e1e;*/ /* For browsers that do not support gradients */
  background: #16191b;
  color: #fcfcfc;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2em;
  margin: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text {
  position: relative;
  text-align: center;
}

.icon-group {
  justify-content: center;
  margin: 10px;
}

.icon {
  font-size: 2em;
  color: #3a3a3a;
  margin: 10px;
  transform: scale(1.2);
  transition-property: color;
  transition-duration: 0.5s;
}

.icon:hover {
  color: #fcfcfc;
}

a {
  text-decoration: none;
}
